* {
font-size: 2vmin;
    margin: 0;
    padding: 0;
    
  scroll-behavior: smooth;
}
body {
  overflow: hidden;
  display: flex;
  background: linear-gradient(to right, #2c2c2c , black, black, black, black, #2c2c2c);
  background-size: 100% 100%;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-snap-type: x mandatory;
}

section {
  font-size: 10em;
  text-align: center;
  scroll-snap-align: center;
    height: 100vh;
    min-width: 100vw;
  width: 100vw;
}

a {
  font-size: 1em;
  user-select: none;
}